body { 
    background-image: url(https://farm8.staticflickr.com/7428/11137789645_07dbcd6dbe.jpg); 
    
}
    

main { font-style: italic;
    color : ;
    font-size: 60px;
   font-family: sans-serif;
    list-style: square;
    text-align: center;

    }

header li
{
    display :inline-block;
    font-weight : 15px;
        width: 20%;
    margin-left: 50px;
    text-align: center;
border-style:dashed;
    background-color: pink;
    border-color: purple;
    color: purple;
}
    
header 
{ text-decoration: none;
    color: purple;
}

header ul {
    text-align:center;
}

header title { color: purple;
    font-style: normal;
    font-size: 15px;
    font-family: serif;
    font-stretch: ultra-condensed;
}

h5 {color: pink;
    font-size: 80px;
}

h6 { color: purple;
    font-style: normal;
    font-size: 50px;
    font-family: sans-serif;
    font-stretch: bold;
    text-decoration: underline;
    text-decoration-color: purple;
}

h7  { color: purple;
    font-style: normal;
    font-size: 60px;
    font-family: sans-serif;
    font-stretch:bold;
    text-decoration: underline;
    text-decoration-color: purple;
}
h8 { color: purple;
    font-style: normal;
    font-size: 50px;
    font-family:sans-serif;
    font-stretch:bold;
    text-decoration: underline;
    text-decoration-color: purple;
}
 strong { text-decoration : underline;
     font-stretch: bold;
 }

p { color: black;
