body { 
    background-image: url(https://farm8.staticflickr.com/7428/11137789645_07dbcd6dbe.jpg); 
    
}
    





main { font-style: italic;
    color : purple;
    font-size: 60px;
   font-family: sans-serif;
    list-style: georgian;
    text-align: center;
    
  
   
    
}

header li
{
    display : inline-block;
    font-weight : 10px;
        width: 25%;
    margin-left: 25px;
    text-align: center;
border-style: inherit;
    background-color: pink;
}
    
header 
{ text-decoration: none;
    color: purple;
}

header title { color: red;
    font-style: normal;
    font-size: 15px;
    font-family: serif;
    font-stretch: ultra-condensed;
}


h5 { color: pink;
    font-style: normal;
    font-size: 50px;
    font-family: sans-serif;
    font-stretch: bold;
    text-decoration: underline;
    text-decoration-color: purple;
}

h6  { color: pink;
    font-style: normal;
    font-size: 50px;
    font-family: sans-serif;
    font-stretch:bold;
    text-decoration: underline;
    text-decoration-color: purple;
}
h7 { color: pink;
    font-style: normal;
    font-size: 50px;
    font-family:sans-serif;
    font-stretch:bold;
    text-decoration: underline;
    text-decoration-color: purple;
}
